/* #region RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}
/* #endregion RESET */


/* #region  GENERAL */
body {
  font-family: 'Open Sans', sans-serif;
}
/* #endregion GENERAL */


/* #region  COMMONS */
.flex {
  display: flex;
}

.container {
  margin: 0 auto;
}

.big {
  width: 70%;
}

.small {
  width: 60%;
}

.btn {
  background-color: #0061ff;
  color: white;
  padding: 10px 15px;
  text-align: center;
}
/* #endregion COMMONS */


/* #region  HEADER */
header {
  background-color: #b4d0e7;
  padding-top: 80px;
}

nav {
  background-color: white;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

nav .nav-left ul li img {
  padding: 27px 15px;
}

nav ul li a {
  line-height: 80px;
  display: inline-block;
  padding: 0 15px;
}

nav .nav-right ul li button {
  margin: 22px 10px;
}

header .container.big {
  padding-top: 50px;
}

header .container.big h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: bolder;
  margin-bottom: 50px;
}

header .container.big .flex .header-bottom-left {
  width: 30%;
}

header .container.big .flex .header-bottom-left p {
  font-size: 14px;
  line-height: 20px;
}

header .container.big .flex .header-bottom-left button {
  margin: 25px 0;
}

header .container.big .flex .header-bottom-left i {
  font-size: 35px;
  font-weight: bolder;
  margin: 50px 0 10px;
}

header .container.big .flex .header-bottom-right {
  width: 70%;
  position: relative;
}

header .container.big .flex .header-bottom-right img {
  width: 100%;
  position: absolute;
}



/* #endregion HEADER */


/* #region  MAIN */
main {
  /* margin-top: 80px; */
  /* height: calc(100vh - 80px);
  overflow: auto; */
}

main div.container.small {
  padding-top: 140px;
}

/* #region SECTION 1 */

main div.container.small section h2 {
  font-size: 30px;
}

main div.container.small section .button-radio {
  display: inline-block;
  margin: 50px 40px 50px 0;
}

main div.container.small section .button-radio input {
  padding-left: 20px;
}

main section .plans {
  flex-wrap: wrap;
  gap: 20px;
}

main section .plans .plan {
  width: calc((100% - 40px) / 3);
  flex-grow: 1;
  flex-direction: column;
}

main section .plans .plan .plan-category {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #d0d0d3;
  border-right: 1px solid #d0d0d3;
  border-left: 1px solid #d0d0d3;
}

main section .plans .plan .plan-description {
  flex-grow: 1;
  border: 1px solid #d0d0d3;
  padding: 20px;
}

main section .plans .plan:last-child .plan-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


main section .plans .plan:not(:last-child) .plan-description > * {
  margin-bottom: 50px;
}

main section .plans .plan .plan-description ul {
  font-size: 14px;
}

main section .plans .plan .plan-description ul li {
  line-height: 30px;
}

main section .plans .plan .plan-description div button:first-child {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  font-size: 14px;
}

main section .plans .plan:last-child button {
  font-size: 14px;
  padding: 10px 15px;
  align-self: flex-start;
}

main section .plans .plan .plan-description a {
  color: blue;
  text-decoration: underline;
}
main section .plans .plan .plan-description div:first-child > * {
  margin-bottom: 10px;
}

main section .plans .plan:not(:last-child) .plan-description > div:nth-of-type(2)::after {
  content: '';
  display: block;
  border: 1px solid #d0d0d3;
  width: 15%;
  margin-top: 40px;
}

/* #endregion SECTION 1 */

/* #region SECTION 2 */
main .container.small section:nth-child(2) {
  margin-top: 150px;
  margin-bottom: 150px;
}

main .container.small section:nth-child(2) div:first-child {
  width: 55%;
}

main .container.small section:nth-child(2) div:first-child img {
  width: 100%;
}

main .container.small section:nth-child(2) div:last-child {
  width: 45%;
  padding: 20px;
}

main .container.small section:nth-child(2) div:last-child h2 { 
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}
main .container.small section:nth-child(2) div:last-child p { 
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

main .container.small section:nth-child(2) div:last-child button { 
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
}

/* #endregion SECTION 2 */

/* #region SECTION 3 */
main .container.small section:nth-child(3) {
  margin-bottom: 200px;
}

main div.container.small section:nth-child(3) h2 {
  font-size:34px;
  margin-bottom: 60px;
}

main div.container.small section:nth-child(3) .operations {
  flex-wrap: wrap;
  gap: 30px;
}

main div.container.small section:nth-child(3) .operations .operation {
  width: calc((100% - 60px) / 3);
}

main div.container.small section:nth-child(3) .operations .operation .operation-img  {
  margin-bottom: 20px;
}

main div.container.small section:nth-child(3) .operations .operation .operation-img img {
  width: 100%;
}

main div.container.small section:nth-child(3) .operations .operation .operation-descriptio h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

main div.container.small section:nth-child(3) .operations .operation .operation-descriptio p {
  font-size: 13px;
  line-height: 20px;
}

/* #endregion SECTION 3 */

/* #region SECTION 4 */
main .container.small section:nth-child(4) h2{
  font-size: 30px;
  margin-bottom: 70px;
  width: 70%;
}

main .container.small section:nth-child(4) div a{
  color: blue;
  text-decoration: underline;
}

main .container.small section:nth-child(4) div {
  margin-bottom: 150px;
}

/* #endregion SECTION 4 */


/* #endregion MAIN */


/* #region  FOOTER */
/* #endregion FOOTER */
